{% extends 'dashboard/dashboard_base.html' %}
{% load staticfiles %}

{% block header %}
<link href="{% static 'css/graph.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1 style="margin-top:5px;">{{ dashboard_to_view.name }}</h1>
    <a class="btn btn-default" href="{% url 'dashboard_edit' pk=dashboard_to_view.pk %}">Edit Dashboard <i class="pe-7s-pen"></i></a>
    <br>
    <br>
    {% for chart in charts %}
        {% if not forloop.counter|divisibleby:2 %}
        <div class="row">
        {% endif %}
            <div class="col-md-6">
                <div class="card ">
                    <div class="header">
                        <h4 class="title">{{ chart.name }}</h4>
                        <p class="category"><span id="{{ chart.name|cut:" " }}">0</span> {{ chart.dataPointInfo.unit }}</p>
                    </div>
                    <div class="content">
                        <svg class="{{ chart.name|cut:" " }}"></svg>
            
                    </div>
                </div>
            </div>
        {% if forloop.counter|divisibleby:2 %}
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block scripts %}
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="{% static 'js/datagraph.js' %}"></script>
<script>
    var dataPacket = {
        {% for chart in charts %}
        "{{ chart.dataPointInfo.name|cut:" " }}": 0,
        {% endfor %}
    }

    {% for chart in charts %}
        var {{ chart.name|cut:" " }}Data = new EcoCarDisplayData("{{ chart.name|cut:" " }}")
    {% endfor %}

    var updateText = function (data) {
        {% for chart in charts %}
        {{ chart.name|cut:" " }}Data.update(data.{{ chart.dataPointInfo.name|cut:" " }});
        {% endfor %}
    }

    socket = new WebSocket("ws://" + window.location.host + "/chat/");
    
    socket.onmessage = function(e) {
        //console.log(e.data.toString());
        var data = JSON.parse(e.data.toString());
        if (data.pipeline == "{{ dashboard_to_view.pipeline.pk }}"){
            dataPacket = data.json_data;
            updateText(dataPacket);
            console.log(dataPacket);
        }
    }

    socket.onopen = function() {
        console.log("Connected");
        socket.send("{{ dashboard_to_view.pipeline.pk }}");
    }
    // Call onopen directly if socket is already open
    if (socket.readyState == WebSocket.OPEN) socket.onopen();

    {% for chart in charts %}
    var {{ chart.name|cut:" " }} = new EcoCarGraph("{{ chart.name|cut:" " }}", 200, 500, function (){
        return dataPacket.{{ chart.dataPointInfo.name|cut:" " }};
    });
    {{ chart.name|cut:" " }}.tick();
    {% endfor %}
</script>
{% endblock %}