{% extends 'dashboard/dashboard_base.html' %}
{% block content %}
    <a class="btn btn-default" href="{% url 'dashboard_edit' pk=dashboard_to_view.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <h1>{{ dashboard_to_view.name }}</h1>
{% endblock %}

{% block scripts %}
<script>
    socket = new WebSocket("ws://" + window.location.host + "/chat/");
    socket.onmessage = function(e) {
        alert(e.data);
    }
    socket.onopen = function() {
        socket.send("{{ dashboard_to_view.pipeline.pk }}");
    }
    // Call onopen directly if socket is already open
    if (socket.readyState == WebSocket.OPEN) socket.onopen();
</script>
{% endblock %}